#header{
    text-align: center;
    background-color:cadetblue;
    color: white;
}
body{
    background-color: antiquewhite;
}
#back,#camera{
     font-size: 25px;
  margin: auto;
    width: auto;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    color: aliceblue;
    background-color: #d6a844;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
}
#loginInterface
{
    text-align: center;
   
}
#buttons{
    bottom:0;
    right:0;
    position:fixed;
    
}
.myImage{
    width: 100%;
}
ul {
  list-style-type: none;
}